.filter {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  align-self: center;
}

.filter__checkbox {
  opacity: 0;
  position: absolute;
  z-index: -1;
}

.filter__fake-checkbox {
  width: 36px;
  height: 20px;
  background-color: #EBEBEB;
  border-radius: 20px;
  position: relative;
  cursor: pointer;
  transition: background-color 0.3s;
}

.filter__fake-checkbox::before {
  content: '';
  width: 16px;
  height: 16px;
  background-color:#FFFFFF;
  border-radius: 50%;
  position: absolute;
  top: 2px;
  left: 2px;
  transition: transform 0.3s;
}

.filter__checkbox:checked + .filter__fake-checkbox {
  background-color: #2BE080;
}

.filter__checkbox:checked + .filter__fake-checkbox:before {
  background-color: #F5F5F5;
  transform: translateX(16px);
}

.filter__text {
  font-size: 12px;
  line-height: 18px;
  margin: 0 0 0 12px;
}

@media screen and (max-width: 450px) {
  .filter__text {
    font-size: 11px;
    line-height: 18px;
  }
}